.content-root {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

.content-block {
  width: calc(100vw - 300px);
  margin: 0;
  padding: 32px;
  overflow-y: scroll;
}

.content-block::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.content-block::-webkit-scrollbar-thumb {
  background-color: #4f27bf;
  border-radius: 5px 0 0 5px;
}

@media (max-width: 768px) {
  .content-block {
    width: auto;
  }
}
