.addresses-list-root {
  margin: 0;
  padding: 24px;
  box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
  border-radius: 10px;

  .addresses-list-title {
    font-weight: 700;
    font-size: 26px;
  }

  .addresses-list-element {
    border-top: 1px solid #d7d7d7;
  }
}
