.root {
  background-color: #4f27bf;
  color: white;
  height: 80px;
  padding: 0 32px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .content-label {
    .content-label__button {
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      background: none;
      border: none;
      padding: 0;
      color: white;
      cursor: pointer;

      .content-label__button__img {
        margin-right: 24px;
      }
    }
  }

  .content-auth {
    display: flex;
  }
}
