.news-root {
  h1 {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
  }

  .news-element {
    .news-title {
      margin: 0;
      padding: 0;
      font-size: 20px;
      font-weight: 500;
    }

    .news-text {
      margin: 0;
      margin-top: 24px;
      padding: 0;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
