@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  vertical-align: baseline;
}
